{% block title %}Home{% endblock %}

{% if user_role == 'buyer' %}
    {% include "buyer-navbar.html" %}
    {% include "buyer-home.html" %}
    {% include "buyer-footer.html" %}
{% elif user_role == 'seller' %}
    {% include "seller-navbar.html" %}
    {% include "seller-home.html" %}
    {% include "seller-footer.html" %}
{% elif user_role == 'admin' %}
    {% include "admin-navbar.html" %}
    {% include "admin-dashboard.html" %}
    {% include "admin-footer.html" %}
{% else %}
    {% include "buyer-navbar.html" %}
    {% include "buyer-home.html" %}
    {% include "buyer-footer.html" %}
{% endif %}