{% include "buyer-templates/buyer-navbar.html" %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Cart</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Cart</li>
  </ol>
</div>
<!-- Single Page Header End -->

<!-- Cart Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Products</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <tr>
            <th scope="row">
              <div class="d-flex align-items-center">
                <img
                  src="{{ item.imagepath[4:] }}"
                  class="img-fluid me-5 rounded-circle"
                  style="width: 80px; height: 80px"
                  alt=""
                />
              </div>
            </th>
            <td>
              <p class="mb-0 mt-4">{{ item.title }}</p>
            </td>
            <td>
              <p class="mb-0 mt-4">S$ {{ item.price }}</p>
            </td>
            <td>
              <div class="input-group quantity mt-4" style="width: 100px">
                <div class="input-group-btn">
                  <button
                    class="btn btn-sm btn-minus rounded-circle bg-light border"
                    data-id="{{ item.id }}"
                    onclick="updateQuantity('{{item.id}}', 'decrease')"
                  >
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
                <p style="padding-left: 10%; padding-right: 10%">
                  {{ item.quantity }}
                </p>
                <div class="input-group-btn">
                  <button
                    class="btn btn-sm btn-plus rounded-circle bg-light border"
                    data-id="{{ item.id }}"
                    onclick="updateQuantity('{{item.id}}', 'increase')"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </td>
            <td>
              <p class="mb-0 mt-4">{{ item.price * item.quantity }}</p>
            </td>
            <td>
              <button
                class="btn btn-md rounded-circle bg-light border mt-4"
                onclick="deleteItem('{{item.id}}')"
              >
                <i class="fa fa-trash text-danger"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row g-4 justify-content-end">
      <div class="col-8"></div>
      <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
        <div class="bg-light rounded">
          <div class="p-4">
            <h1 class="display-6 mb-4">
              Cart <span class="fw-normal">Total</span>
            </h1>
            <div class="d-flex justify-content-between mb-4">
              <h5 class="mb-0 me-4">Subtotal:</h5>
              <p class="mb-0">S$ {{ cart_value }}</p>
            </div>
            <div class="d-flex justify-content-between"></div>
          </div>
          <div
            class="py-4 mb-4 border-top border-bottom d-flex justify-content-between"
          >
            <h5 class="mb-0 ps-4 me-4">Total</h5>
            <p class="mb-0 pe-4">S$ {{ cart_value }}</p>
          </div>
          <form action="/payment" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="{{ stripe_publishable_key }}"
              data-amount="{{ cart_value * 100 }}"
              data-name="BookWise"
              data-description="Complete your purchase"
              data-currency="sgd"
              data-email="{{ current_user.email }}"
              data-locale="auto"
              data-label="Proceed Checkout"
            ></script>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart Page End -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function updateQuantity(cartItemId, action) {
    $.ajax({
      url: `/cart/${action}/${cartItemId}`,
      type: "POST",
      success: function (response) {
        window.location.reload();
      },
      error: function (xhr) {
        alert("An error occurred while updating the quantity.");
      },
    });
  }

  function deleteItem(cartItemId) {
    $.ajax({
      url: `/cart/delete/${cartItemId}`,
      type: "POST",
      success: function (response) {
        window.location.reload();
      },
      error: function (xhr) {
        alert("An error occurred while deleting the item.");
      },
    });
  }
</script>

{% include "buyer-templates/buyer-footer.html" %}
