{% include "buyer-templates/buyer-navbar.html" %}

<!-- Modal Search Start -->
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input
            type="search"
            class="form-control p-3"
            placeholder="keywords"
            aria-describedby="search-icon-1"
          />
          <span id="search-icon-1" class="input-group-text p-3"
            ><i class="fa fa-search"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Search End -->

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Thank You</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Thank You</li>
  </ol>
</div>
<!-- Single Page Header End -->

<!-- Thank You Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center">
      <h1 class="display-4">Thank You for Your Purchase!</h1>
      <p class="lead">
        Your order has been successfully processed. We appreciate your business
        and hope you enjoy your purchase.
      </p>
      <a href="{{ url_for('main.shop') }}" class="btn btn-primary mt-4"
        >Continue Shopping</a
      >
    </div>
  </div>
</div>
<!-- Thank You Page End -->

{% include "buyer-templates/buyer-footer.html" %}

<script>
  function updateCartCount() {  // Function to update the cart count
    fetch("/cart/count")  // Fetch the cart count route
      .then((response) => response.json())  // Parse the JSON response
      .then((data) => {
        if (data.count !== undefined) { // Check if the count is defined
          document.getElementById("cart-count").innerText = data.count; // Update the cart count
        }
      })
      .catch((error) => { // Catch any errors
        console.error("Error updating cart count:", error); // Log the error
      });
  }

  function continueShopping() {
    updateCartCount();
    window.location.href = "{{ url_for('main.shop') }}";
  }

  document.addEventListener("DOMContentLoaded", function () {
    // Update the cart count when the success page loads
    updateCartCount();
  });
</script>
