{% include "buyer-templates/buyer-navbar.html" %}
{% block title %}OTP Verification{% endblock %}

<!-- OTP Verification Page Start -->
<div class="container-fluid page-header py-4">
  <h1 class="text-center text-white display-6">OTP Verification</h1>
</div>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="bg-light rounded p-4">
                <form id="otpForm">
                    <div class="mb-3">
                        <label for="otp" class="form-label">Enter OTP</label>
                        <input type="text" class="form-control" id="otp" name="otp" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Verify OTP</button>
                    </div>
                    <div class="mb-3">
                        <p>Time left: <span id="timeLeft">60</span> seconds</p>
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-secondary w-100" id="fetchNewOtp">Fetch New OTP</button>
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
</div>
<!-- OTP Verification Page End -->

{% include "buyer-templates/buyer-footer.html" %}

<script>

  const purpose = "{{ purpose }}";
  console.log(purpose)

  document.getElementById("otpForm").addEventListener("submit", function (event) {
    event.preventDefault(); // Prevent default form submission
    const otp = sanitize(document.getElementById("otp").value);

    if (!otp)
    {
      alert("Please fill in the OTP.");
        return;
    }

    if (purpose === 'signup') {
      fetch("/signup_verify_otp", {
        method: "POST",
        headers:{
          "Content-Type": "application/json",
        },
        body: JSON.stringify(otp), 
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.redirect_url) {
          alert("Signed up successfully.");
          window.location.href = data.redirect_url;
        } else {
          alert(data.error);
        }
      })
      .catch((error) => {
        console.error("Catch Error:", error);
      });
    }else if (purpose === 'login') {
      fetch("/login_verify_otp", {
        method: "POST",
        headers:{
          "Content-Type": "application/json",
        },
        body: JSON.stringify(otp), 
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.redirect_url) {
          alert("Logged in successfully.");
          window.location.href = data.redirect_url;
        } else {
          alert(data.error);
        }
      })
      .catch((error) => {
        console.error("Catch Error:", error);
      });
    }
    
  });




    let timeLeft = 60;
    let alertShown = false;
    const timeLeftElement = document.getElementById('timeLeft');
    const fetchNewOtpButton = document.getElementById('fetchNewOtp');
  
    function updateTimeLeft() {
      if (timeLeft > 0) {
        timeLeft -= 1;
        timeLeftElement.textContent = timeLeft;
      } else {
        clearInterval(timerInterval);
        fetchNewOtpButton.disabled = false;
        if (!alertShown) {
          alert('OTP has expired. Please request a new one.');
          alertShown = true;
        }
      }
    }
  
    const timerInterval = setInterval(updateTimeLeft, 1000);
  
    fetchNewOtpButton.addEventListener('click', function() {
      fetch('/generate_new_otp', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.message) {
          alert(data.message);
          timeLeft = 60; // Reset the timer
          fetchNewOtpButton.disabled = true;
          alertShown = false; // Reset the alert flag
          clearInterval(timerInterval);
          setInterval(updateTimeLeft, 1000);
        } else {
          alert(data.error);
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        alert('An error occurred while fetching a new OTP.');
      });
    });
  
    

    function sanitize(input) {
      const element = document.createElement("div");
      element.innerText = input;
      return element.innerHTML;
    }
  </script>