{% block title %}item{% endblock %}
{% include "seller-templates/seller-navbar.html" %}
<div class="container-main itempage-container" style="width: 80%;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <img src="{{ item.imagepath[4:] }}" class="img-fluid rounded" alt="Item Image">
            </div>
            <div class="col-md-7 align-left-div">
                <h1>{{ item.title }}</h1>
                <h4 class="text-muted">S${{ item.price }}</h4>
                <p><strong>Tags:</strong>
                    {% set tags_string = item.keywords %}
                    {% set tags_list = tags_string[2:-2].split('", "') %}
                    {% for tag in tags_list %}
                    <span class="badge bg-primary">{{ tag }}</span>
                    {% endfor %}
                </p>
                <p><strong>Seller: </strong>{{ seller_name }}</p>
                <p><strong>Stock: </strong>{{ item.stock }}</p>
                <p><strong>Release Date: </strong>{{ item.release_date }}</p>
                <p><strong>Author: </strong>{{ item.author }}</p>
                <p><strong>Publisher: </strong>{{ item.publisher }}</p>
                <p><strong>Type: </strong>{{ item.type }}</p>
                <button class="btn btn-primary" onclick="toggleEditForm()">Edit</button>
            </div>
        </div>
    </div>

    <!-- Edit form -->
    <div class="container mt-5 align-left-div" id="editForm" style="display: none;">
        <h2>Edit Listing</h2>
        <form id="editListingForm" action="{{ url_for('user.edit_listing', item_id=item.id) }}" method="post">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ item.title }}" required>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{ item.price }}" required>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" id="stock" name="stock" value="{{ item.stock }}" required>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="type" class="form-label">Type</label>
                    <input type="text" class="form-control" id="type" name="type" value="{{ item.type }}" required>
                </div>
                <div class="col-md-12 mb-2">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required>{{ item.description }}</textarea>
                </div>
                <div class="col-md-12 mb-2">
                    <label for="keywords" class="form-label">Keywords</label>
                    <input type="text" class="form-control" id="keywords" name="keywords" value="{{ item.keywords[2:-2].replace('\\"', '') }}" required>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="release_date" class="form-label">Release Date</label>
                    <input type="date" class="form-control" id="release_date" name="release_date" value="{{ item.release_date }}" required>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" name="author" value="{{ item.author }}" required>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="publisher" class="form-label">Publisher</label>
                    <input type="text" class="form-control" id="publisher" name="publisher" value="{{ item.publisher }}" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </form>
    </div>

    <div class="align-left-div" style="padding-left: 0;">
        <h2>Comments</h2>
        {% if comments %}
        {% for comment in comments %}
        <div class="comment-container align-left-div p-3 mb-3 border rounded" style="width: 100%;">
            <div class="row">
                <div class="col-md-11">
                    <strong style="padding: 0; margin:0%">{{ comment.fname }} {{ comment.lname }} ({{ comment.username }}):</strong>
                    <p style="padding: 0; margin:0%">{{ comment.title }} - Rating: {{ comment.rating }}/5</p>
                    <p style="padding: 0; margin:0%">{{ comment.body }}</p>
                    <p class="text-muted">Posted on: {{ comment.created_at }}</p>
                </div>
                <div class="col-md-1 d-flex align-items-center">
                    <button type="button" class="btn btn-danger btn-link" data-toggle="modal"
                        data-target="#reportModal{{ comment.id }}">
                        <p style="color: white;">Report</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- Report Modal -->
        <div class="modal fade" id="reportModal{{ comment.id }}" tabindex="-1"
            aria-labelledby="reportModalLabel{{ comment.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reportModalLabel{{ comment.id }}">Report Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('user.report_comment', comment_id=comment.id) }}" method="post">
                            <div class="mb-3">
                                <label for="title{{ comment.id }}" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title{{ comment.id }}" name="title" required>
                            </div>
                            <div class="mb-3">
                                <label for="body{{ comment.id }}" class="form-label">Body</label>
                                <textarea class="form-control" id="body{{ comment.id }}" name="body" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="captcha{{ comment.id }}">Enter CAPTCHA</label>
                                <input type="text" class="form-control" id="captcha{{ comment.id }}" name="captcha" required>
                                <img src="/generate_captcha" alt="CAPTCHA" id="captchaImage{{ comment.id }}">
                                <button type="button" class="btn btn-link" onclick="refreshCaptchaForComment('{{ comment.id }}')">Refresh CAPTCHA</button>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit Report</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No comments yet.</p>
        {% endif %}
    </div>
</div>

{% include "seller-templates/seller-footer.html" %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function sanitize(input) {
        const element = document.createElement('div');
        element.innerText = input;
        return element.innerHTML;
    }
    function refreshCaptchaForComment(commentId) {
        document.getElementById(`captchaImage${commentId}`).src = '/generate_captcha?' + new Date().getTime();
    }

    function toggleEditForm() {
        var editForm = document.getElementById('editForm');
        if (editForm.style.display === "none") {
            editForm.style.display = "block";
        } else {
            editForm.style.display = "none";
        }
    }

    document.getElementById('editListingForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the form from submitting the traditional way
        const form = event.target;
        const formData = new FormData(form);
        // Sanitize form data
        formData.set('title', sanitize(formData.get('title')));
        formData.set('price', sanitize(formData.get('price')));
        formData.set('stock', sanitize(formData.get('stock')));
        formData.set('type', sanitize(formData.get('type')));
        formData.set('description', sanitize(formData.get('description')));
        formData.set('keywords', sanitize(formData.get('keywords')));
        formData.set('release_date', sanitize(formData.get('release_date')));
        formData.set('author', sanitize(formData.get('author')));
        formData.set('publisher', sanitize(formData.get('publisher')));

        fetch(form.action, {
            method: 'POST',
            body: formData,
        })
        .then(response => {
            if (response.ok) {
                // Reload the page on success
                location.reload();
            } else {
                return response.json().then(data => {
                    // Handle errors
                    alert(data.error || 'An error occurred');
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred');
        });
    });
</script>
